.container1{
    display: flex;
    flex-direction: column;
    margin: 0 70px;
}
.solar-img{
    width: 450px;
    height: auto;
    flex-shrink: 0;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}
ul{
    display: flex;
    gap: 40px;
}
li,
a{
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    font-weight: 300;
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text1{
    width: 50%;
    font-size: 48px;
    font-weight: 900;
}
.text2{
    width: 50%;
    font-size: 18px;
}
.header-center{
    display: flex;

}
button{
    background-color: #3882f6;
}
.planet-img{
    width: 200px;
    height: auto;
}
.container2{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 70px;
}
.planet-cont{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.planet-title{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}
.planet{
    width: 15%;
}
.container3{
    display: flex;
    flex-direction: column;
    padding: 120px;
    background-color: red;
    
}
.quotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.quote{
    font-size: 36px;
}
.quoted{
    font-size: 24px;
}
