*{
  box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 24px;
    
}
ul{
    display:flex;
    margin: 0;
    gap: 25px;   
}
li{
    list-style-type: none;
    font-size: 16px;
    align-self: center;
    
}
a{
    text-decoration: none;
}
.solar-img{
    width: 450px;

}
