body{
    margin: 0;
}
.container1{
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    background-color: #1f2937;
}
.solar-img{
    width: 500px;
    height: auto;
    flex-shrink: 0;
    margin-bottom: 50px;
    border-radius: 12px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}
ul{
    display: flex;
    gap: 40px;
}
li,
a{
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.text1{
    width: 50%;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.text2{
    width: 50%;
    font-size: 18px;
    color: #e5e7eb;
}
.header-center{
    display: flex;

}
button{
    background-color: #3882f6;
    padding: 5px 20px;
    color: #e5e7eb;
    border-radius: 8px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.button:hover{
    background-color: #f9faf8;
    color:#3882f6
    
}
.planet-img{
    width: 200px;
    height: auto;
    border-radius: 12px;
}
.container2{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 70px;
}
.planet-cont{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.planet-title{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
    color: #1f2937;
}
.planet-text{
    color: #1f2937;
}
.planet{
    width: 15%;
}
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
    background-color: #e5e7eb;
}
.quotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: fit-content;

}
.quote{
    font-size: 36px;
    font-style: italic;
}
.quoted{
    font-size: 24px;
    align-self: flex-end;
}
.container4{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 60px;

}
.bottom-center{
    background-color: #3882f6;
    display: flex;
    padding: 40px 140px;
    gap: 100px;
    align-items: center;
    border-radius: 8px;
}
.bottom-text{
    font-weight: 900;
    color: #f9faf8;
}
.bottom-text2{
    color: #e5e7eb;
}
.btn-bottom{
    border-color: #f9faf8;
}
.btn-bottom:hover{
    background-color: #f9faf8;
    color:#3882f6
}
.footer{
    text-align: center;
    padding: 20px 0;
    background-color: #1f2937;
    color: #e5e7eb;
}
