body{
    margin: 0;
}
.container1{
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}
.solar-img{
    width: 400px;
    height: auto;
    flex-shrink: 0;
    padding-bottom: 50px;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}
ul{
    display: flex;
    gap: 40px;
}
li,
a{
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    font-weight: 300;
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.text1{
    width: 50%;
    font-size: 48px;
    font-weight: 900;
}
.text2{
    width: 50%;
    font-size: 18px;
}
.header-center{
    display: flex;

}
button{
    background-color: #3882f6;
}
.planet-img{
    width: 200px;
    height: auto;
}
.container2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 70px;
}
.planet-cont{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.planet-title{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}
.planet{
    width: 15%;
}
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}
.quotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: fit-content;

}
.quote{
    font-size: 36px;
    font-style: italic;
}
.quoted{
    font-size: 24px;
    align-self: flex-end;
}
.container4{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 60px;
}
.bottom-center{
    background-color: #3882f6;
    display: flex;
    padding: 40px 140px;
    gap: 100px;
    align-items: center;
}
